/Housing.csv
/Lab4_LastFirst.ipynb
/Most-Recent-Cohorts-Scorecard-Elements.csv
/data.csv
/firstml.ipynb
/https:
/hw2.ipynb
/hw3.ipynb
/hw5.ipynb
/lab1.ipynb
/lab11.ipynb
/lab5.csv
/lab5.ipynb
/lab6.ipynb
/lab7.ipynb
/lab8.ipynb
/lab9.ipynb
/practice.ipynb
/test1.ipynb